In [8]:
n=(int(input("enter number of rows")))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end="")
    print()

enter number of rows5
1
22
333
4444
55555

In [9]:
n=(int(input("enter number of rows")))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end="")
    print()

enter number of rows6
1
12
123
1234
12345
123456

In [1]:
n=int(input("enter the number of rows"))
for row in range(n):
    for col in range(n):
        if col==0 or row==(n-1) or col==row:
            print("*",end="")
        else:
            print(end=" ")
            
    print()

enter the number of rows6
*
**
* *
*  *
*   *
******

In [7]:
n=int(input("enter the number of rows"))
for row in range(n):
    for col in range(n):
        if col==row or col==(n-1) or row==0:
            print(end="*")
        else:
            print(end=" ")
            
    print()

enter the number of rows9
*********
 *      *
  *     *
   *    *
    *   *
     *  *
      * *
       **
        *

In [21]:
n=int(input("enter the number of rows"))
num=1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(num,end="")
        num=num+1
    print()

enter the number of rows5
1
23
456
78910
1112131415

In [16]:
for row in range(6):
    for col in range(7):
        if (row==0 and col%3!=0) or (row==1 and col%3==0) or (row-col==2) or (row+col==8):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

  * *   * *
*     *     *
*           *
  *       *
    *   *
      *

In [71]:
n=input("Enter a Word : ")
for i in range(0,len(n)):
    for j in range(0,i+1):
        print(n[j],end="")
    print()

Enter a Word : nikhil hero
n
ni
nik
nikh
nikhi
nikhil
nikhil
nikhil h
nikhil he
nikhil her
nikhil hero

In [8]:
for row in range(1,5):
    for col in range(1,8):
        if row==4 or row+col==5 or col-row==3:
            print("*",end="  ")
        else:
            print(" ",end="  ")
        
    print()

         *
      *     *
   *           *
*  *  *  *  *  *  *

In [10]:
for row in range(5):
    for col in range(5):
        if  row+col==2 or col-row==2 or row-col==2 or col+row==6:
            print("*",end="")
        else:
            print(end=" ")
    print()

  *
 * *
*   *
 * *
  *

In [13]:
n=int(input("enter a number"))
for i in range(1,n+1):
        for j in range(1,n-i+1):
            print(end=" ")
        for j in range(i,0,-1):
            print(j,end="")
        for j in range(2,i+1):
            print(j,end="")
        print()

enter a number7
      1
     212
    32123
   4321234
  543212345
 65432123456
7654321234567

In [19]:
n=int(input("enter the number of rows"))
for row in range(n):
    for col in range(n):
        if col==0 or row==col or row==col+1:
            print("*",end="")
        else:
            print(end=" ")
            
    print()

enter the number of rows5
*
**
***
* **
*  **

In [3]:
n=int(input("enter the number of rows"))
for i in range(1,n+1):
    print("*" * i)

enter the number of rows7
*
**
***
****
*****
******
*******

In [2]:
n=int(input("enter the number of rows"))
for row in range(1,n+1):
    for col in range(1,n+1):
        if col==1 or row==col or col==n:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()
    
print()

for row in range(1,n+1):
    for col in range(1,n+1):
        if row==1  or col==(n+1)//2 or row==n:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()
    
print()

for row in range(1,n+1):
    for col in range(1,n):
        if col==1 or row+col==(n-1) or row-col==2:
            print("*",end=" ")
        else:
            print("  ",end=" ")
            
    print()
    
print()

for row in range(1,n+1):
    for col in range(1,n+1):
        if col==1 or row==(n+1)//2 or col==n:
            print("*",end=" ")
        else:
            print(" ",end=" ")
            
    print()
    
print()

for row in range(1,n+1):
    for col in range(1,n+1):
        if row==1  or col==(n+1)//2 or row==n:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()
    
print()

for row in range(1,n+1):
    for col in range(1,n+1):
        if col==1 or row==n:
            print("*",end=" ")
        else:
            print(" ",end=" ")
            
    print()

enter the number of rows7
*           *
* *         *
*   *       *
*     *     *
*       *   *
*         * *
*           *

* * * * * * *
      *
      *
      *
      *
      *
* * * * * * *

*          *
*       *
*    *
* *
*    *
*       *
*          *

*           *
*           *
*           *
* * * * * * *
*           *
*           *
*           *

* * * * * * *
      *
      *
      *
      *
      *
* * * * * * *

*
*
*
*
*
*
* * * * * * *